spotipy
SpeechRecognition
gTTS
playsound==1.2.2
python-dotenv
pygame
requests
PyAudio
noisereduce
numpy
soundfile
pyttsx3
google-api-python-client
opencv-python
mediapipe
unidecode
librosa
python-vlc
Levenshtein
psutil
google-generativeai
