spotipy
SpeechRecognition
gTTS
python-dotenv
pygame
requests
numpy
soundfile
pyttsx3
google-api-python-client
opencv-python
mediapipe
unidecode
librosa
python-vlc
Levenshtein
pyaudio
psutil
google-generativeai
noisereduce
scipy
sounddevice
# Dependencias para Avatar 3D
moderngl
PyOpenGL
PyOpenGL_accelerate
Pillow